@font-face {
  font-family: "Montserrat";
  src: url("../Font/Montserrat/Montserrat-VariableFont_wght.ttf");
}

* {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #f9f9f9;
  text-decoration: none;
}
a:hover
{
  
}
body {
  box-sizing: border-box;
  overflow-x: hidden;
  background: #040714;
}

h1 {
  font-size: 42px;
  line-height: 3rem;
}
h2 {
  color: #f9f9f9;
}
h3 {
  color: #f9f9f9;
  font-size: 24px;
  line-height: 28.8px;
}
h4 {
  font-size: 20px;
  font-weight: 600;
  background-size: contain;
  color: #f9f9f9;
}
h5 {
  font-size: 20px;
  color: #f9f9f9;
  font-weight: 600;
}

img {
  width: 103px;
}
input {
  height: 50px;
  border-radius: 5px;
  background-color: #30333e;
}
footer {
  padding-bottom: -4000px;
}
p {
  font-size: 20px;
  font-weight: 300;
  color: #f9f9f9;
}
#container1 {
  background-image: url(../images/index/icon1.png);
}
#container2 {
  background-image: url(../images/index/icon2.png);
}
#container3 {
  background-image: url(../images/index/icon3.png);
}
#containerImage1 {
  background-image: url("../images/index/original.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}
#containerImage2 {
  background-image: url("../images/index/original (1).jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#containerImage3 {
  background-image: url("../images/index/original (2).jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#containerImage4 {
  background-image: url("../images/index/original.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#containerImage5 {
  background-image: url("../images/index/original.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#containerImage6 {
  background-image: url("../images/index/original.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#containerImage7 {
  background-image: url("../images/index/original.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#containerImage8 {
  background-image: url("../images/index/original.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#containerImage9 {
  display: flex;
  background-image: url("../images/index/original.png");
  background-repeat: no-repeat;
  background-color: #040714;
  background-size: cover;
}
#containerImage10 {
  background-image: url("../images/index/original.png");
}
#containerFont1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}
#dropBtn {
  background-color: chartreuse;
}
#grab {
  cursor: -webkit-grab;
  cursor: grab;
}
#safd {
  padding-left: 5%;
  text-align: start;
}
#toggleButton {
  background-color: brown;
}
.allRights {
  background-color: #0e0b14;
  min-height: 220px;
  position: relative;
}
.banner {
  padding-top: 20px;
  height: 90px;
  text-align: center;
  position: relative;
  background: linear-gradient(180deg, #030c40, #003ccc);
}
.buttonAction {
  background-color: #13151d;
  border: 0;
  color: #f9f9f9;
  font-size: 24px;
}
.buttonAction:hover {
  background-color: #003ccc;
}
.buttonLogin {
  background-color: #1a1d29;
  border-style: none;
  color: #f9f9f9;
  font-weight: 700;
  padding: 0px;
  height: 48px;
  width: 75px;
  position: absolute;
  right: 70px;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.5px;
}

.buttonRegister {
  height: 60px;
  width: 360px;
  background-color: #016cf9;
  border: none;
  border-radius: 4px;
  color: #f9f9f9;
  font-size: 18px;
}
.container {
  color: #f9f9f9;
  font-size: 25px;
  left: 90px;
  margin-top: 15%;
  position: absolute;
  max-width: 35%;
}
.containerIcon {
  background-position: center;
  color: #f9f9f9;
  display: grid;
  font-size: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 120px;
  justify-content: center;
}
.containerIcon2 {
  color: #f9f9f9;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: baseline;
  height: 15vw;
}
.containerIconText {
  color: #f9f9f9;
}
.dropdown-content {
  width: 100px;
  min-height: 100px;
  background-color: #003ccc;
}
.einloggen {
  z-index: 1;
  font-size: 16px;
  margin: 10px;
  border: 1px solid silver;
  border-color: #f9f9f9;
  border-radius: 5px;
  background-color: black;
  color: rgb(224, 224, 224);
  width: 120px;
  min-height: 50px;
  margin-right: 40px;
}
.einloggen:hover {
  transition-duration: 0.3s;
  background-color: #f9f9f9;
  color: #040714;
  border-color: #f9f9f9;
}
.fine {
  font-size: 10px;
  color: #f9f9f9;
}
.footer {
  width: 100vw;
  min-height: 1000px;
  background-color: #f9f9f9;
}
.gridContainer {
  display: grid;
  grid-template-columns: 100% 100% 100% 100%;
  grid-template-rows: 260px 260px 260px 260px;
}
.indexIcon {
  align-items: center;
  line-height: 26px;
  background-position: center;
  background-repeat: no-repeat;
}
.indexIcon p {
  color: #c0c0c0;
  font-size: 18px;
  font-weight: 400;
}
.indexIcon2 {
  align-items: center;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.indexOriginal {
  min-height: 1400px;
}
.indexOriginalTop {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 1400px;
}
.main {
  margin: 0px;
  padding: 0px;
}
.mainContainer {
  width: 100%;
  height: auto;
  box-sizing: content-box;
  background-repeat: no-repeat;
  background-size: contain;
}
.mainFont {
  max-height: 1500px;
  flex-direction: column;
  font-weight: 600;
  align-items: center;
  color: #f9f9f9;
  display: flex;
  text-align: center;
  box-sizing: border-box;
  max-width: 70vw;
  text-align: center;
  justify-content: center;
}
.middleFont {
  color: #f9f9f9;
  text-align: center;
  font-size: 24px;
  line-height: 500px;
}
.navbar {
  display: flex;
  padding-bottom: 30px;
  background-color: black;
  height: 72px;
  width: 100vw;
}
.navbarImage {
  height: 100px;
  width: 100px;
}
.parent {
  display: flex;
  max-width: 100%;
  min-height: 50vw;
}
.pointer {
  cursor: pointer;
}
.safety {
  border-radius: 8px;
  background-color: #30333e;
  color: #f9f9f9;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.1px;
  padding: 10px;
}
.scrollbar {
  border: 2px solid tomato;
  min-height: 26vw;
  max-height: 800px;
  width: auto;
}
.scrollbarMerch {
  margin-left: 38px;
  margin-right: 38px;
  display: grid;
  border: 2px solid greenyellow;
  max-width: auto;
  min-height: 12vw;
}
.scrollbarText {
  margin-left: 38px;
  margin-right: 38px;
  border: 2px solid gray;
  min-height: 4vw;
}
.signUpContainer {
  margin: auto;
  width: 400px;
  min-height: 500px;
  padding: 10px;
}
.signUpHeader {
  margin-top: 13px;
  position: relative;
  height: 60px;
  border-bottom: 2px solid #252833;
}
.show {
  display: block;
  margin-top: 200px;
}
.sticky {
  z-index: 100;
  height: 0px;
  float: right;
  position: sticky;
  top: 0;
  font-size: 20px;
}
.testContainer {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  width: aut1o;
  height: 300px;
  justify-content: flex-start;
}
.tickets {
  display: flex;
  align-items: center;
  padding-right: 10%;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  color: #f9f9f9;
  font-size: 22px;
  color: #c0c0c0;
  font-size: 20px;
}
@media (max-width: 930px) {
  #containerImage1 {
    background-image: url(../images/index/originalTab.jpg);
  }
  h1 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
}
@media (max-width: 350px) {
  #containerImage1 {
    background-image: url(../images/index/originalSmart.jpg);
  }
  h4 {
    font-size: 14px;
  }
}
